/*body {
  background-color: #E5E5E5;
  width: 100%;
}

html{
  width: 100%;
 }
ul.menu-links {
  display: flex;
  list-style: none;
  width: 500px;
  justify-content: space-between;
  font-size: 15px;
}
li {
  color: #152c5b;
  width: 200px;
}
.sign-in {
  color: white;
  border-radius: 1px;
  text-align: center;
  background-color: #e5be57;
}
nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  justify-content: center;
  display: flex;
  color: #152c5b;
}

h2 {
  display: flex;
  justify-content: last baseline;
  color: #152c5b;
}

u {
  justify-content: left;
  display: flex;
  color: black;
  font-size: 13px;
}
.welcome-header {
  font-family: "Ubuntu", sans-serif;
}

.card-list {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  font-size: 15px;
}

.card-list-items {
  margin: 60px;
}
.card-list-items p {
  font-size: 14px;
} */